<%- include("header")%>
<%- include("nav")%>
<ol class="list-group list-group-numbered">
  <% tasks.forEach((task)=>{%>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><%= task.title%></div>
        <%= task.desc.substr(0,20)%>...|<span class="text-danger"><%= task.timeline%></span>
      </div>
      <a href="/edit/<%= task.id%>"><span class="badge  rounded-pill">🖊</span></a>
      <a href="/delete/<%= task.id%>"><span class="badge  rounded-pill">❌</span></a>
    </li>
    <%})%>
  </ol>
<%- include("footer")%>

